.Search-form-wrapper {
    display: flex;
    background-color: #eff3f4;
    border-radius: 9999px;
}

.Search-form-button {
    display: flex;
    align-items: center;
}

.Search-form-button-img {
    width: 20px;
    height: 20px;
    padding: 0 6px 0 12px;
    fill: rgb(83, 100, 113);
}

.Search-form-field {
    display: flex;
    width: 100%;
    padding: 12px;
}

.Search-form-field-input {
    width: 100%;
    border: none;
    background-color: #eff3f4;
    font-size: 15px;
}

.Search-form-field-input:focus {
    outline: none;
}